spring:
  application:
    name: TaskManager

  devtools:
     restart:
       enabled: true
     liveredload:
       enabled : true

  datasource:
    url: jdbc:mysql://localhost:3306/taskmanager?useSSL=false&serverTimezone=UTC
    username: root
    password: 2004Vit@
    driver-class-name: com.mysql.cj.jdbc.Driver


  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
      open-in-view: false
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect
          format_sql: true



  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration